<div class="nested-fields">
      <%= f.label :user_id %><br>
      <%= f.text_field :user_id %><br>


      <%= f.label :percentage %><br>
      <%= f.text_field :percentage %><br>

  <%= link_to_remove_association 'remove stake', f %>
 </div>
