<div class="nested-fields">
      <%= f.label :user_id %><br>
      <%= f.select :user_id, @users.map{|c| [c.email,c.id] } %>


      <%= f.label :percentage %><br>
      <%= f.text_field :percentage %><br>

  <%= link_to_remove_association 'remove stake', f %>
 </div>
