<div class="row">
  <div class="col-md-8">
  <%= render 'shared/errors', resource: @ips.first %>
  <% content_for :title, "Accepted Ips" %> 
  <%= form_tag "", method: "get", id: "filter", class: "filter" do %>
  <%= label_tag "Category" %>
  <%= collection_select :ip, :domain_id, Domain.all, :id, :name, { prompt: 'Select Domain' }, { data: {'live-search': true}, class: 'selectpicker', onchange: "$('#filter').submit();"} %>
  <% end %>
  <ol class="ips">
  <% @ips.each do |ip| %>
  <% if ip.status == 2 %>
      <li id="ip-<%= ip.id %>">
      <%= ip.title %>
      <%= ip.domain.name %>
      <span class="timestamp">
      Posted <%= time_ago_in_words(ip.created_at) %> ago.
      </span>
      <ol>
        <% ip.stakes.each do |stake| %>
        <span><%= stake.percentage %></span>
        <% if stake.stakeholder_type == "User" %>
        <span><%= stake.stakeholder.email%></span>
        <% elsif stake.stakeholder_type =="Organisation" %>
        <span><%= stake.stakeholder.name%></span>
        <% end %>


        <% end %>
      </ol>
        <span><%= link_to "Download IP Asset Document", ip.attachment_url, target: '_blank' %></span>
    </li>
    <%end %>
  <% end %>
  </ol>
  </div>
</div>
