<div class="row">
  <div class="col-md-8">
  <h3>Pending IP's</h3>
  <ol class="ips">
  <% @ips.each do |ip| %>
      <li id="ip-<%= ip.id %>">
      <span class="title"><%= ip.title %></span>
      <span class="timestamp">
      Posted <%= time_ago_in_words(ip.created_at) %> ago.
      </span>
      <ol>
        <% ip.stakes.each do |stake| %>
          <span><%= stake.percentage %></span>
          <% if stake.stakeholder_type == "User" %>
          <span><%= stake.stakeholder.email%></span>
          <% elsif stake.stakeholder_type =="Organisation" %>
          <span><%= stake.stakeholder.name%></span>
          <% end %>


        <% end %>
      </ol>
      <span><%= link_to "Download IP Asset Document", ip.attachment_url, target: '_blank' %></span>
    </li>
  <% end %>
  </ol>
  </div>
</div>
