<div class="row">
  <div class="col-md-8">
  <h3>Reviewing IP's</h3>
  <ol class="ips">
  <% @ips.each do |ip| %>
      <li id="ip-<%= ip.id %>">
      <%= ip.title %>
      <span class="timestamp">
      Posted <%= time_ago_in_words(ip.created_at) %> ago.
      </span>
      <ol>
        <% ip.stakes.each do |stake| %>
        <span><%= stake.percentage %></span>
        <% if stake.stakeholder_type == "User" %>
        <span><%= stake.stakeholder.email%></span>
        <% elsif stake.stakeholder_type =="Organisation" %>
        <span><%= stake.stakeholder.name%></span>
        <% end %>


        <% end %>
      </ol>
        <span><%= link_to "Download IP Asset Document", ip.attachment_url, target: '_blank' %></span>
      <ol>
        <% ip.ip_comms.each do |comm| %>

          <% if comm.vote == 1 %>
            Approved By :-
          <% elsif comm.vote == 0 %>
            Not Approved By :-
          <% elsif comm.vote == -1 %>
            Rejected By :-
          <% else %>
            Not Approved yet By :-
          <% end %>
          <span><%= comm.vote %></span>
          <span><%= comm.faculty.user.email %></span>

        <% end %>
      </ol>
    <% ip.ip_comms.where(:faculty_id => current_user.faculty.id).each do |v| %>
      <% if v.vote == 1 %>
      <span><%= link_to "Reject", rejectIP_path(ip)%></span>
      <% elsif v.vote == -1 %>
      <span><%= link_to "Accept", acceptIP_path(ip)%></span>
      <% else %>
      <span><%= link_to "Accept", acceptIP_path(ip)%></span>
      <span><%= link_to "Reject", rejectIP_path(ip)%></span>
      <% end %>
    <% end %>


    </li>
  <% end %>
  </ol>
  </div>
</div>
