<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="header header-primary text-center">
    <h2>Log in</h2>
    <div class="social-line">
      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to raw("<i class='fa fa-#{OmniAuth::Utils.camelize(provider).downcase}'></i> #{OmniAuth::Utils.camelize(provider)}"), omniauth_authorize_path(resource_name, provider), class: "btn btn-simple" %>
        <% end -%>
      <% end -%>
    </div>
  </div>
  <p class="text-divider"></p>
  <div class="content">
  <%= render 'shared/errors', resource: resource %>

    <div class="form-group label-floating">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
    <div class="form-group label-floating">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" , class: "form-control"%>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="checkbox">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="footer text-center">
      <button href="#pablo" type="submission" class="btn btn-simple btn-primary btn-lg">Log In</button>
      <!-- <%= f.submit "Sign up" %> -->
    </div>
  </div>
<% end %>
<%= render "users/shared/links" %>
