<p id="notice"><% if notice %>
<div class="alert alert-info">
    <div class="container-fluid">
	  <div class="alert-icon">
		<i class="material-icons">info_outline</i>
	  </div>
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true"><i class="material-icons">clear</i></span>
	  </button>
    <%= notice %>
    </div>
</div>
<% end %></p>

<h1>Listing Organisations</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Royalty accumulated</th>
      <th>Royalty credited</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organisations.each do |organisation| %>
      <tr>
        <td><%= organisation.name %></td>
        <td><%= organisation.royalty_accumulated %></td>
        <td><%= organisation.royalty_credited %></td>
        <td><%= organisation.user %></td>
        <td><%= link_to 'Show', organisation %></td>
        <td><%= link_to 'Edit', edit_organisation_path(organisation) %></td>
        <td><%= link_to 'Destroy', organisation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organisation', new_organisation_path %>
