<p id="notice"><% if notice %>
<div class="alert alert-info">
    <div class="container-fluid">
	  <div class="alert-icon">
		<i class="material-icons">info_outline</i>
	  </div>
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true"><i class="material-icons">clear</i></span>
	  </button>
    <%= notice %>
    </div>
</div>
<% end %></p>

<p>
  <strong>Company:</strong>
  <%= @collaborator.company %>
</p>

<p>
  <strong>User:</strong>
  <%= @collaborator.user %>
</p>

<%= link_to 'Edit', edit_collaborator_path(@collaborator) %> |
<%= link_to 'Back', collaborators_path %>
