<%= form_for @ip do |f| %>
    <div class="form-group">
      <%= f.label :title, class: "control-label" %>
      <%= f.text_field :title, placeholder: "Title...", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description, class: "control-label" %>
      <%= f.text_area :description, placeholder: "Create new IP...", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Type", class: "control-label" %>
      <%= f.text_field :role, placeholder: "Book or Others...", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :identify_id, class: "control-label" %>
      <%= f.text_field :identify_id, placeholder: "ID...", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.collection_select :domain_id, Domain.all || [], :id, :name, { prompt: 'Select Domain' }, { data: {'live-search': true}, class: 'selectpicker'} %>
    </div>
    <div class="form-group">
      <%= f.label :attachment, class: "control-label" %>
      <%= f.file_field :attachment, class: 'form-control'%>
    </div>
    <!--<div class="form-group">
      <button type="button" class="btn btn-primary">Me</button>
    </div>
    <div class="form-group label-floating">
      <label class="control-label">My Stake</label>
      <input type="text" name="ip[percentage]" class='form-control'%>
    </div>-->
    <input type="checkbox" name="check" class="radio1"/>

    <div id="stakes">
      <h4>Stakeholders</h4>
      <%= f.fields_for :stakes do |stake| %>
      <% if stake.object.stakeholder == Organisation.first %>
      <div class="nested-fields form-inline">
        <div class="form-group">
          <button type="button" class="btn btn-primary"><%= stake.object.stakeholder.name %></button>
          <%= stake.hidden_field :stakeholder_id %>
          <%= stake.hidden_field :stakeholder_type %>
        </div>
        <div class="text20 form-group label-floating" >
          <%= stake.label :percentage, class: "control-label" %>
          <%= stake.text_field :percentage, class: 'form-control', min: '19'%>
        </div>
      </div>
      <% elsif stake.object.stakeholder == current_user %>
      <div class="nested-fields form-inline">
        <div class="form-group">
          <button type="button" class="btn btn-primary">Me</button>
          <%= stake.hidden_field :stakeholder_id %>
          <%= stake.hidden_field :stakeholder_type %>
        </div>
        <div class="form-group label-floating">
          <%= stake.label :percentage, class: "control-label" %>
          <%= stake.text_field :percentage,  class: 'form-control'%>
        </div>
      </div>

      <% else %>
          <%= render 'stake_fields', :f => stake %>
        <% end %>
      <% end %>
    <div class="links">
        <%= link_to_add_association 'Add Stakeholder', f, :stakes, class: 'btn btn-primary' %>
      </div>
    </div>

  <%= f.submit "Submit", class: "btn btn-primary", style: 'float: right' %>
<% end %>
