<ol class="ips">
<% @ips.each do |ip| %>
    <li id="ip-<%= ip.id %>">
    <h3><%= link_to ip.title, ip %></h3>
    <p class="timestamp">
    Posted <%= time_ago_in_words(ip.created_at) %> ago.
  </p>
    <p><%= link_to "Download IP Asset Document", ip.attachment_url, target: '_blank' %></p>
    <%= render 'shared/ip_committee_ip_view', ip: ip %>
    <span><%= link_to 'Show', ip %></span>
    <% if ip.status == IP_REJECTED or ip.status == IP_PENDING %>
    <%= link_to 'Edit', edit_ip_path(ip) %>
    <% end %>
  </li>
<% end %>
</ol>
