<%= form_for @ip do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: "Title..." %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, placeholder: "Create new IP..." %>
    </div>
    <div class="field">
      <%= f.label :role %>
      <%= f.text_field :role, placeholder: "Book or Others..." %>
    </div>
    <div class="field">
      <%= f.label :identify_id %>
      <%= f.text_field :identify_id, placeholder: "ID..." %>
    </div>
    <div class="field">
      <%= f.label :domain_id %>
      <%= f.collection_select :domain_id, Domain.all || [], :id, :name, { prompt: 'Select Domain' }, { class: 'selectpicker' } %>
    </div>
    <div class="form-group">
      <%= f.label :attachment %>
      <%= f.file_field :attachment, class: 'form-control'%>
    </div>
    <p><strong>StakeHolders:</strong></p>
    <div id="stakes">
      <%= f.fields_for :stakes do |stake| %>
        <%= render 'stake_fields', :f => stake %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Add stake', f, :stakes %>
      </div>
    </div>


  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
