<nav class="navbar navbar-fixed-top navbar-color-on-scroll navbar-transparent">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>">IIIT Bangalore IPM</a>
      </div>

      <div class="collapse navbar-collapse" id="navigation-example">
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
          <li>
            <a class="btn btn-raised btn-round btn-info" href="<%= new_ip_path %>">File a new IP<div class="ripple-container"></div></a>
          </li>
          <li>
            <a href="<%= ips_path %>">IP Assets<div class="ripple-container"></div></a>
          </li>
          <% if current_user.faculty and current_user.faculty.ip_committee == true %>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle btn btn-raised btn-success btn-round" data-toggle="dropdown" aria-expanded="false">
          IP Committee Tasks
          <b class="caret"></b>
          <div class="ripple-container"></div></a>
          	<ul class="dropdown-menu dropdown-menu-right">
                <li><%= link_to "Review IPs", reviewingIP_path %></li>
                <li><%= link_to "Accepted IPs", acceptedIP_path %></li>
            </ul>
          </li>
        <% end %>
        <% if current_user.admin? %>
          <li>
  				  <a href="<%= admin_root_path %>">Admin Dashboard<div class="ripple-container"></div></a>
  			  </li>
        <% end %>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle btn btn-raised btn-primary btn-round" data-toggle="dropdown" aria-expanded="false">
          <%= current_user.name %>
          <b class="caret"></b>
          <div class="ripple-container"></div></a>
          	<ul class="dropdown-menu dropdown-menu-right">
              	<li class="dropdown-header">Profile Options</li>
                <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Logout", destroy_user_session_path %></li>
            </ul>
          </li>
        <% end %>
        </ul>
      </div>
  </div>
</nav>
