<p id="notice"><% if notice %>
<div class="alert alert-info">
    <div class="container-fluid">
	  <div class="alert-icon">
		<i class="material-icons">info_outline</i>
	  </div>
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true"><i class="material-icons">clear</i></span>
	  </button>
    <%= notice %>
    </div>
</div>
<% end %></p>

<h1>Listing Licences</h1>

<table class="table">
  <thead>
    <tr>
      <th>Agreement</th>
      <th>Royalty to pay</th>
      <th>End time</th>
      <th>Payment type</th>
      <th>Licencee</th>
      <th>Ip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @licences.each do |licence| %>
      <tr>
        <td><%= licence.agreement %></td>
        <td><%= licence.royalty_to_pay %></td>
        <td><%= licence.end_time %></td>
        <td><%= licence.payment_type %></td>
        <td><%= licence.licencee %></td>
        <td><%= licence.ip %></td>
        <td><%= link_to 'Show', licence %></td>
        <td><%= link_to 'Edit', edit_licence_path(licence) %></td>
        <td><%= link_to 'Destroy', licence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Licence', new_licence_path %>
