<%= render 'shared/errors', resource: @ips.first %>
<% content_for :title, "Listing Ips" %>
<%= form_tag "", method: "get", id: "filter", class: "filter" do %>
<%= label_tag "Category" %>
<%= collection_select :ip, :domain_id, Domain.all, :id, :name, { prompt: 'Select Domain' }, { data: {'live-search': true}, class: 'selectpicker', onchange: "$('#filter').submit();"} %>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Domain</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ips.each do |ip| %>
      <tr>
        <td><%= link_to ip.title, ip %></td>
        <td><%= ip.role %></td>
        <td><%= ip.domain.name %></td>
        <td><%= link_to 'Show', ip %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'New Ip', new_ip_path %>-->
