<%= render 'shared/errors', resource: current_user %>
<% content_for :title, @ip.title %>

<p>
  <strong>Title:</strong>
  <%= @ip.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ip.description %>
</p>

<p>
  <strong>Identifying ID:</strong>
  <%= @ip.identify_id %>
</p>

<p>
  <strong>Type of IP:</strong>
  <%= @ip.role %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @ip.domain.name %>
</p>
<span><%= link_to "Download IP Asset Document", @ip.attachment_url, target: '_blank' %></span>
<p class="timestamp">
Posted <%= time_ago_in_words(@ip.created_at) %> ago.
</p>
<% if current_user.faculty and current_user.faculty.ip_committee == true %>
  <%= render 'shared/ip_committee_ip_view', ip: @ip %>
<% end %>

<% if current_user.ips.include?(@ip) and (@ip.status == IP_PENDING) %>
<%= link_to 'Edit', edit_ip_path(@ip) %>
<% end %> |
<%= link_to 'Back', dashboard_path %>
