<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ip.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ip.description %>
</p>

<p>
  <strong>Identify:</strong>
  <%= @ip.identify_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ip.status %>
</p>

<p>
  <strong>Role:</strong>
  <%= @ip.role %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @ip.domain.name %>
</p>
<% if @ip.status == IP_REJECTED or @ip.status == IP_PENDING %>
<%= link_to 'Edit', edit_ip_path(@ip) %>
<% end %> |
<%= link_to 'Back', dashboard_path %>
